USE [master]
GO
/****** Object:  Database [YoYo]    Script Date: 2019-09-27 7:25:57 PM ******/
CREATE DATABASE [YoYo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YoYo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\YoYo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YoYo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\YoYo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YoYo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YoYo]
GO
/****** Object:  Table [dbo].[Yoyo_details]    Script Date: 2019-09-27 7:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yoyo_details](
	[work_area] [nvarchar](50) NOT NULL,
	[serial_number] [uniqueidentifier] NOT NULL,
	[line_number] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[time_stamp] [datetime] NOT NULL,
	[product_id] [smallint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
